@model IEnumerable<DIENMAYQUYETTIEN2.Models.ProductType>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Admin_Layout.cshtml";
}

<h2 class="tuanheotitle">Product Type</h2>
<button class="tuanheobutton">
    @Html.ActionLink("Create New", "Create")
</button>

<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-table"></i> Data Table Example
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Product Code</th>
                        <th>Product Name</th>                       
                        <th>Action</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Product Code</th>
                        <th>Product Name</th>
                        <th>Action</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProductTypeCode)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProductTypeName)
                            </td>
                            <td>

                                @Html.ActionLink("Edit", "Edit", new { id = item.ID })|
                                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>
