@model IEnumerable<DIENMAYQUYETTIEN2.Models.InstallmentBill>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Admin_Layout.cshtml";
}

<h2 class="tuanheotitle">Installment Bill</h2>

<button class="tuanheobutton">
    @Html.ActionLink("Create New", "Create")
</button>
<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-table"></i> Data Table Example
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Bill Code</th>
                        <th>Customer ID</th>
                        <th>Date</th>
                        <th>Shipper</th>
                        <th>Note</th>                        
                        <th>Method</th> 
                        <th>Period</th>
                        <th>Grand Total</th> 
                        <th>Taken</th>
                        <th>Remain</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Bill Code</th>
                        <th>Customer ID</th>
                        <th>Date</th>
                        <th>Shipper</th>
                        <th>Note</th>
                        <th>Method</th>
                        <th>Period</th>
                        <th>Grand Total</th>
                        <th>Taken</th>
                        <th>Remain</th>
                        <th>Action</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.BillCode)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CustomerID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Date)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Shipper)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Note)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Method)
                            </td>
                            <td>
                               @Html.DisplayFor(modelItem => item.Period)
                            </td>
                            <td>
                                @String.Format("{0:0,0} VND", item.GrandTotal)
                            </td>
                            <td>
                                @String.Format("{0:0,0} VND", item.Taken)
                            </td>
                            <td>
                                @String.Format("{0:0,0} VND", item.Remain)
                            </td>                          
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                                @Html.ActionLink("Print", "Print", new { id = item.ID })
                                
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>
