@model DIENMAYQUYETTIEN2.Areas.Admin.Models.PrintInstallmentBillModel
@{
    Layout = null;
    int i = 1;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Installment Bill</title>
    <link rel="stylesheet" href="~/Content/styleprint.css" media="all" />
</head>
<body>
    <header class="clearfix">
        <div id="logo">
            <img src="~/Content/Logo_QT_PNG.png">
        </div>
        <div id="company">
            <h2 class="name">Điện Máy Quyết Tiến</h2>
            <div>Dương Quản Hàm, , TP. HCM</div>
            <div> 0.990.099.009</div>
            <div><a href="mailto:company@example.com">Team10_k22t2@email.com</a></div>
        </div>
    </header>
    <main>
        <div id="details" class="clearfix">
            <div id="client">
                <div class="to">Hóa Đơn Trả Góp</div>
                <div class="name">Mã Khách Hàng: @Model.CustomerID</div>
                <div class="name">Phương Thức: @Model.Period @Model.Method</div>
            </div>
            <div id="invoice">
                <h1>@Model.BillCode</h1>
                <div class="date">Ngày- giờ: @Model.Date</div>
                <div class="date">Người Giao @Model.Shipper</div>
            </div>
        </div>

        <table border="0" cellspacing="0" cellpadding="0">
            <thead>
                <tr>
                    <th class="no">#</th>
                    <th class="desc">Tên sản phẩm</th>
                    <th class="unit">Đơn giá</th>
                    <th class="qty">Số lượng</th>
                    <th class="total">Thành tiền</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.InstallmentBillDetail)
                {
                    <tr>
                        <td class="no">@i</td>
                        <td class="desc"><h3>@Html.DisplayFor(modelItem => item.Product.ProductName)</h3></td>
                        <td class="unit">@string.Format("{0:0,0}", item.InstallmentPrice)</td>
                        <td class="qty">@Html.DisplayFor(modelItem => item.Quantity)</td>
                        <td class="total">@string.Format("{0:0,0}", item.Quantity * item.InstallmentPrice)</td>
                    </tr>
                    i = i + 1;
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2"></td>
                    <td colspan="2">Tổng Tiền</td>
                    <td>@string.Format("{0:0,0}", @Model.GrandTotal) VND</td>
                </tr>
                <tr>
                    <td colspan="2"></td>
                    <td colspan="2">Tiền nhận</td>
                    <td>@string.Format("{0:0,0}", @Model.Taken) VND</td>
                </tr>
                <tr>
                    <td colspan="2"></td>
                    <td colspan="2">Tiền còn lại</td>
                    <td>@string.Format("{0:0,0}", @Model.Remain) VND</td>
                </tr>
            </tfoot>
        </table>
        <div id="thanks">Thank you!</div>
        <div id="notices">
            <div>NOTE:</div>
            <div class="notice">@Model.Note</div>
        </div>
    </main>
    <footer>
        Invoice was created on a computer and is valid without the signature and seal.
    </footer>
</body>
</html>
